//
//  shared.xcconfig
//  ScreenTime_Barebones
//
//  Created by Yun Dongbeom on 2023/08/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Group
/// ‼️ 값에 따옴표를 넣으면 따옴표도 같이 문자열에 포함됩니다.
APP_GROUP_NAME = group.com.coffeenaerirei.screentimebarebones
